@use '../styles/colors.scss' as globalColors;

.Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.BlogPostFeaturedArea {
    position: relative;
    margin-bottom: 2rem;
}

.BlogPostFeaturedAreaContentSeparator {
    background-color: globalColors.$white;
    height: 1rem;
}

.BlogPostFeaturedAreaTextContent {
    padding: 1em;
    border: 1px solid globalColors.$brown-1;
}

@media only screen and (min-width: 720px) {
    .BlogPostFeaturedAreaTextContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .BlogPostFeaturedAreaTextContent {
        background-color: globalColors.$white;
        opacity: 0.8;
        border: 1px solid globalColors.$brown-1;
    }
}