.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    color: rgb(50, 25, 5);
    background-color: rgb(245, 235, 200);
}
.footer section, .footer nav {
    margin: 1.2rem;
}
.footer h3 { 
    margin: 0;
    margin-bottom: 0.5rem;
    color: rgb(120, 70, 40);
}
.footer ul {
    margin: 0;
}
.footer li {
    list-style-type: none;
    margin: 0;
}
.footer section > p {
    margin: 0;
}
.footer ul a {
    display: flex;
    align-items: center;
}
.contactArea ul a > p {
    margin: 0 5px;
}
.footer a:link {
    text-decoration: none;
    color: inherit;
}
.footer a:visited {
    text-decoration: none;
    color: inherit;
}
.footer a:hover {
    text-decoration: none;
    color: inherit;
}
.footer a:active {
    text-decoration: none;
    color: inherit;
}
.copyRightSection a {
    font-weight: bold;
}