.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(50, 25, 5);
    color: white;
}
.footer section, .footer nav {
    margin: 1.45rem;
}
.footer h3 { 
    margin: 0;
}
.footer ul {
    margin: 0;
}
.footer li {
    list-style-type: none;
    margin: 0;
}
.footer section > p {
    margin: 0;
}
.footer ul a {
    display: flex;
    align-items: center;
}
.contactArea ul a > p {
    margin: 0 5px;
}
.footer a:link {
    text-decoration: none;
    color: inherit;
}
.footer a:visited {
    text-decoration: none;
    color: inherit;
}
.footer a:hover {
    text-decoration: none;
    color: inherit;
}
.footer a:active {
    text-decoration: none;
    color: inherit;
}
.copyRightSection a {
    background: lightblue;
}