@use '../styles/colors.scss' as globalColors;

.footerWrapper {
    background-color: globalColors.$brown-5;
}
.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    color: globalColors.$brown-1;
}
.footer section, .footer nav {
    margin: 1.2rem;
}
.footer h3 { 
    margin: 0;
    margin-bottom: 0.5rem;
}
.footer ul {
    margin: 0;
}
.footer li {
    list-style-type: none;
    margin: 0;
}
.footer section > p {
    margin: 0;
}
.footer ul a {
    display: flex;
    align-items: center;
}
.contactArea ul a > p {
    margin: 0 5px;
}
.footer a:link {
    text-decoration: none;
    color: inherit;
}
.footer a:visited {
    text-decoration: none;
    color: inherit;
}
.footer a:hover {
    text-decoration: none;
    color: inherit;
}
.footer a:active {
    text-decoration: none;
    color: inherit;
}
.copyRightSection a {
    font-weight: bold;
}