.header {
    margin-bottom: 1.45rem;
    /* box-shadow: 0 0.5em 1.5em -0.5em #502505;  */
    background-color: rgb(50, 25, 5);
    color: rgb(245, 235, 200);
}
.navArea > ul{
    display: flex;
    flex-flow: row wrap;
}
.navArea li {
    list-style-type: none;
    padding: 0.2em 0.4em;
    margin: 0 1px;
}
.navArea li:hover, .navArea li:active {
    background: lightblue;
}
.header a:link {
    text-decoration: none;
    color: inherit;
}
.header a:visited {
    text-decoration: none;
    color: inherit;
}
.header a:hover {
    text-decoration: none;
    color: inherit;
}
.header a:active {
    text-decoration: none;
    color: inherit;
}
.navItemFocus {
    background-color: white;
    color: rgb(50, 25, 5);
}
.navItem {
    /* background-color: rgb(250, 230, 200); */
}